body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h2 {
    font-weight: 700;
}

header {
    background: #8C0000;
}

section {
    min-height: calc(100vh - 242px);
}

#main-breadcrumb {

    .breadcrumb-item {
        font-weight: 500;
        cursor: pointer;

        &:hover {
            text-decoration: underline
        }

        & > .active {
            font-weight: 700;
        }

        &:before {
            font-weight: 400;
        }
    }
}

#btn-generate-teams{
    font-weight: 500;
}

.team-table tbody {
    tr td {
        width: 120px;
    }
    tr td:nth-child(1) {
        width: auto;
    }
}

#players_list table thead tr th {
    background: #198754;
    color: #fff;
}

#errors_list table thead tr th {
    background: #dc3545;
    color: #fff;
}