body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1 {
    font-weight: 600;
}
h2 {
    font-weight: 700;
}

header {
    background: #8C0000;
}

section {
    min-height: calc(100vh - 242px);
}

#main-breadcrumb {

    .breadcrumb-item {
        display: inline-block;
        width: 100%;
        font-weight: 500;
        cursor: pointer;
        padding-left: 0;

        &:hover {
            text-decoration: underline
        }

        & > .active {
            font-weight: 700;
        }

        &:before {
            font-weight: 400;
            width: 0;
            opacity: 0;
            padding: 0;
        }
    }
}

.gender-female {
    color: lightcoral !important;
}
.gender-male {
    color: cornflowerblue !important;
}
.gender-neutral {
    color: forestgreen !important;
}

#btn-generate-teams {
    font-weight: 500;
}

td[data-column-id="bulk"], td[data-column-id="gender"] {
    font-family: arial unicode ms,lucida sans unicode,sans-serif;
    font-weight: 600;
    text-align: center;
}

.team-table tbody {
    td {
        vertical-align: middle;
    }
    tr td:first-child {
        font-family: arial unicode ms,lucida sans unicode,sans-serif;
        width: 40px;
        text-align: center;
    }

    tr td:nth-child(3), td:nth-child(4) {
        width: 40px;
        text-align: center;
    }
}

#players_list table {
    thead tr th {
        background: #198754;
        color: #fff;
    }

    td[data-column-id="actions"] {
        padding: 10px;

        .btn {
            min-width: 32px;
        }
    }
}

#errors_list table thead tr th {
    background: #dc3545;
    color: #fff;
}


@media screen and (min-width: 768px) {
    #main-breadcrumb {
        .breadcrumb-item {
            display: list-item;
            width: auto;
            padding-left: 8px;

            &:before {
                width: auto;
                opacity: 1;
                padding: 0 5px 0 0;
            }
        }
    }
}
